---
const props = Astro.props;
---

<div class="meeting-with-supervisor-container">
  <div class="topic">
    <h3>
      {props.post.data.week}
    </h3>
    <p>
      <span>
        {props.post.data.pubDate}
      </span>
    </p>
  </div>
  <p>
    {props.post.data.description}
  </p>
</div>
